@import url('https://fonts.googleapis.com/css2?family=Jost&family=Prompt:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn{
  border: 1px solid #fff;
  padding: 8px 15px;
  color: white;
  transition: 0.3s;
  position: relative;
  background: transparent;
  z-index:1;
  overflow: hidden;
}
.my-btn::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300%;
  width: 0;
  background: #fff;
  z-index: -1;
  transform:translate(-50%, -50%) rotate(-40deg);
  transition:ease-in-out 0.3s;
}
.my-btn:hover::after{
  width: 200% ;
  transform:translate(-50%, -50%) rotate(-60deg);
}
.my-btn:hover{
  color: red;
}